*{
	margin: 0;
	padding: 0;
}	
*:focus {
	outline: none !important;
	}
@font-face {
	font-family: "GothaProLig";
	src: url("../fonts/GothaProLig.otf");
}
@font-face {
	font-family: "BebasNeueBold";
	src: url("../fonts/BebasNeue Bold.otf");
}

@font-face{
	font-family: "GothaProReg";
	src: url("../fonts/GothaProReg.otf");
}

.btn{
	border: none;
	border-radius: 5px;
	width: 271px;
	height: 50px;
	background-color: #fdc20f;
	color: #231f20;
	font-family: BebasNeueBold;
	font-size: 24px;
	cursor: pointer;
}
.btn:hover {
    background-color: #3fff00;
}
.container{
	max-width: 1155px;
	margin-left: auto;
	margin-right: auto;
}

/*верх хедера*/
.headerHead{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: nowrap;
	padding-top: 33px;
	padding-bottom: 27px;
}
.logo{
	top: 6px;
	position: relative;
}
.contacts{
	padding-left: 69px;
	flex-grow: 1;
	display: flex;
}
.contact{
	border-right:  solid 1px #fdc20f;
}
.contact_positionOne{
	width: 243px;
	padding-right: 27px;
}
.contact_positionTwo{
	width: 160px;
	padding: 0 47px 0 18px;
}
.contact__addres{
	font-family: GothaProLig;
}
.contact__scheme{
	color: #fdc20f;
}
.phoneNumber{
	text-decoration: none;
	color: #000000;	
	align-self: center;
	padding-left: 19px;
	font-family: BebasNeueBold;
	font-size:26px;
}
@media screen and (max-width: 1137px){
	.contacts{
		flex-grow: 0;
		padding-left: 33px;
	}
	.contact_positionOne {
		padding-right: 14px;
	}
	.contact_positionTwo {
		padding: 0 23px 0 9px;
	}
	.phoneNumber {
		padding-left: 8px;
	}
}
@media screen and (max-width: 1044px){
	.contacts{
		flex-grow: 0;
		padding-left: 0px;
	}
	.contact_positionOne {
		padding-right: 0px;
	}
	.contact_positionTwo {
		padding: 0 0px 0 0px;
	}
	.phoneNumber {
		padding-left: 0px;
	}	
}
@media screen and (max-width: 1044px){
	.contact_positionOne {
		width: 160px;
	}
}
/*меню*/
.headerNav{
	height: 70px;
	background: rgba(223,223,223,1);
}
/*Стили меню*/
.nav{
	/*flex-grow: 1;*/
	height: 100%;
}
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	height: inherit;
	justify-content: space-between;
}
.menu__List{
	display: flex;
	height: 100%;
}
.menu__List:hover{
	background-color: #d2d0d0;
}
.menu__item{
	text-decoration: none;
	color: #113b5f;
	display: block;
	align-self: center;
	margin: 20px 0px;
	border-right: gray 1px solid;
	padding: 0 18px;
	font-family: "GothaProReg";
	font-size: 17px;
}
.menu__item-borderNone{
	border-right: none;
}
@media screen and (max-width: 1140px){
	.menu__item{
		padding: 0 17px;
		font-size: 16px;
	}
}
@media screen and (max-width: 1074px){
	.menu__item{
		padding: 0 15px;
	}
}	
@media screen and (max-width: 1058px){
	.menu__item{
		padding: 0 10px;
	}
}	
@media screen and (max-width: 962px){
	.menu{
		justify-content: center;
	}
	.menu__item{
		padding: 0 5px;
	}
}	
/*883 крайняя точка 882px уже все*/
@media screen and (max-width: 883px){
	.headerHead{
		justify-content: space-evenly;
	}
	.callBack{
		position: absolute;
		/* left: 64px; */
		top: 156px;
		right: 10px;	
	}
	.nav{
		height: auto;
	}
	.menu_header {
		margin: 0;
		position: absolute;
		/* margin-top: 6px; */
		top: 216px;
		width: 200px;
		display: flex;
		flex-direction: column;
		list-style: none;
		height: inherit;
		justify-content: space-between;
		background-color: #dadada;
		z-index: 2;
	}
	.menu__List{
		display: flex;
		height: 100%;
	}
	.menu__List:hover{
		background-color: #d2d0d0;
	}
	.menu__item{
		text-decoration: none;
		color: #113b5f;
		display: block;
		align-self: center;
		margin: 20px 0px;
		border-right: none;
		padding: 0 18px;
		font-family: "GothaProReg";
		font-size: 17px;
	}
	.menu__List {
		display: flex;
		height: 100%;
		/*border-top: 1px solid lightgray;*/
	}
	.menu__item-borderNone{
		border-right: none;
	}

	/*Кнопка гамбургер*/
	.hamburger{
		display: none;
	}
	.hamburger{
		display: block;
		position: relative;
		left: 15px;
		top: 22px;
		width: 30px;
		height: 25px;
	}
	.hide{
		display: none;

	}
	.hamburger__line{
		position: relative;
		width: 100%;
		height: 5px;
		background-color: #fdc20f;
		transition: .5s ease-in-out;
	}
	.line__top{

	}
	.line__bottom{
		top: 5px;
	}

	.line__midFirst{
		top: 5px;

	}
	.line__midFirst_rotate{
		transform: rotate(45deg);

	}
	.line__midSecond_rotate{
		transform: rotate(-45deg);

	}
	.line__top_rotate{
		opacity: 0;
		width: 0;
	}
	.line__bottom_rotate{
		opacity: 0;
		width: 0;

	}
}		
@media screen and (max-width: 603px){
	.hamburger {
		top: 36px;
	}	
	.menu_header {
		top: 275px;
	}
	.headerNav {
		height: 100px;
	}	
	.phoneNumber{
		position: absolute;
		top: 167px;
		right: 290px;	
	}
	.contact{
		padding: 0 17px;
	}
	.contact_positionOne {
		width: 133px;
	}
	.contact_positionTwo {
		width: 109px;
	}
}
@media screen and (max-width: 480px){
	.headerHead {
		padding: 0; 
		flex-direction: column;
	}
	.phoneNumber {
		top: 238px;
		right: 10px;
	}
	.callBack{
		top: 182px;
		right: 10px;
	}
	.contacts{
		margin-top: 20px;
	}    
}	
@media screen and (max-width: 338px){
	.hamburger {
		top: 63px;
	}
}
/*карусель*/
.carusel{
	margin: auto;
	width: 969px;
	padding: 50px 0;
}
.carusel__item{
	border: solid 1px #e2e2e2;
	border-radius: 50%;
	height: 93px;
	width: 93px!important;
}
.carusel__item:hover{
	box-shadow: inset 0 0 2px 1px #fdc20f;
}
.carucel__image{
	margin: auto;

}
.carucel__image_lifan{
	padding: 23px 0;
}
.carucel__image_chery{
	padding: 33px 0;
}
.carucel__image_brilliance{
	padding: 28px 0;
}
.carucel__image_faw{
	padding: 26px 0;
}
.carucel__image_lada{
	padding: 33px 0;
}
.carucel__image_zotye{
	padding: 27px 0;
}
.carucel__image_chevrolet{
	padding: 32px 0;
}
.carucel__image_foton{
	padding: 23px 0;
}
/*стрелочки*/
.chevronLeft{
	left: -74px;
}
.chevronRight{
	right: -35px;
	top: 50px;
	padding-left: 22px;
}
.chevronBtn{
	position: absolute;
	z-index: 1;
	border: none;
	height: 100px;
	background-color: #fff;
}	
.chevron{
	cursor: pointer;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: solid 1px #fdc20f;
	background-color: #ffffff00;

}
.chevronBtn:hover {
	transform: scale(1.2);
}
.chevronBtn:focus {
	outline: none !important;
}
.chevron__item{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 12px;
	height: 1px;
	background-color: #fdc20f;
}
.chevron__item_top{
	bottom: -19px;
}
.chevron__item_bottom{
	top: 26px;
}
.chevronLeft__item_top{
	transform: rotate(-45deg);
}
.chevronLeft__item_bottom{
	transform: rotate(45deg);
}
.chevronRight__item_top{
	transform: rotate(45deg);
}
.chevronRight__item_bottom{
	transform: rotate(-45deg);
}

@media screen and (max-width: 1119px){
	.carusel {
		width: 944px;
	}
}
@media screen and (max-width: 1092px){
	.carusel {
		width: 804px;
	}
}
@media screen and (max-width: 949px){
	.carusel {
		width: 700px;
	}	
	.chevronRight {
		right: -56px;
	}
}
@media screen and (max-width: 852px){
	.carusel {
		width: 644px;
	}
}
@media screen and (max-width: 644px){
	.carusel {
		width: 425px;
	}
}
@media screen and (max-width: 425px){
	.carusel {
		width: 280px;
	}
}
/*Стили галереи*/
.quad{
	bottom: 196px;
	left: 20px;
	position: relative;
	border: solid 3px #fdc20f;
	width: 77%;
	height: 74%;
}
.galleryContainer{
	margin-top: 19px;
}
.feedback, .gallery__content{
	max-width: 544px;
	display: flex;
	padding: 25px 13px;
}
.gallery__body{
	margin-left: 25px;
	padding-right: 59px;
}
.gallery__title{
	font-family: BebasNeueBold;
	text-transform: uppercase;
	font-size: 25px;
}
.gallery__about{
	font-family: GothaProLig;
}
.gallery__text{
	font-family: GothaProLig;
}
.gallery__buy{
	color: #fdc20f;
}
.moreNews{
	color: #fdc20f;
	font-family: GothaProLig;
	font-size: 20px;
	position: absolute;
	right: 0;
	bottom: 6px;
}
.fa-angle-right{
	font-size: 35px;
	margin-left: 12px;
	position: relative;
	top: 6px;
}
@media screen and (max-width: 1140px){
	.feedback, .gallery__content {
		max-width: 500px;
		padding: 25px 6px;
	}
	.gallery__body {
		margin-left: 5px;
		padding-right: 9px;
	}
}
@media screen and (max-width: 1024px){
	.feedback .gallery__content {
		max-width: 100%;
		margin: 0 auto;
		padding: 10px 6px;
	}
}
.line{ 
	border-top: 1px solid #fdc20f;
}
.title{
	font-family: BebasNeueBold;
	font-size: 42px;
	text-transform: uppercase;
	margin-top: -24px;
	margin-left: -25px;
	padding: 0 25px;
	background: #fff;
	width: min-content;
}
/*TITLE*/
.titleContainer{
	display: flex;
	position: relative;
}
.titleBlock:before {
	box-sizing: inherit;
	content: '';
	position: absolute;
	right: 90%;
	left: -9999%;
	height: 1px;
	background: #fdc20f;
}
.titleBlock_longLine:before {
	right: 0%;
}
/*Стили новостей*/
.newsBlock{
	position: relative;
}

/*стили футера*/
.footer{
	background-color: #515151;
	color: #fff;
}
.footerrNav{
	background: rgba(118,117,117,1);
	height: 70px;
}
.menu_footer{
	justify-content: center;
}
.menu__List_footer:hover{
	background-color: #5e5e5e;
}
.menu__item_footer{
	padding: 0px 24px;
	color: #fff;
}

.phoneNumber_footer{
	align-self: auto;
	font-family: GothaProLig;
	font-size: 17px;
	display: flex;
	color: #fff;
	padding-left: 24px;
}
.mail_footer{
	font-family: GothaProLig;
	display: flex;
	color: #fff;
	padding-left: 29px;
}
.menu__List_footer-borderNone{
	border:none;
}

.contact_positionFour{
	display: flex;
	padding-left: 17px;
}


@media screen and (max-width: 1069px){
	.menu__item_footer {
		text-align: center;
		border:none;
	}
	.menu__List_footer{
		border-right: gray 1px solid;
	}
	.menu__List_footer-borderNone{
		border:none;
	}
}    
@media screen and (max-width: 883px){
	.nav_footer{
		height: 100%;
	}
	.menu__item_footer {
		text-decoration: none;
		display: block;
		align-self: center;
		margin: 20px 0px;
		padding: 0 18px;
		font-family: "GothaProReg";
		font-size: 12px;
	}
}  
@media screen and (max-width: 505px){
	.menu__item_footer {
		margin: 0px 0px;
		padding: 0 5px;
	}
}
@media screen and (max-width: 425px){
	.footerrNav {
		height: 100px;
	}
	.menu_footer{
		flex-direction: column;
	}
	.menu__List_footer{
		height: 25px;
		border-bottom: solid 1px lightgray;
	}
	.menu__List_footer-borderNone{
		border:none;
	}
}
.menu__item_footer-borderNone{
	border:none;
}
/*ФФутер футер*/
.footerContainer{
	display: flex;
	padding-top: 78px;
}
.footerContent{
	display: flex;
	flex-direction: column;
	margin-top: -8px;
}
.footerPlace{
	display: flex;
}
.footerContact{
	padding: 0 30px;
}
.footerContact__element{
	display: flex;
	color: #fff;
	text-decoration: none;
	font-family: GothaProLig;
}
.footerContact__phone{
	background-position-y: 41px;
}
.footerContact__mail{
	background-position-y: 22px;
}
.footerContact_icon{
	height: 15px;
	width: 15px;
	display: block;
	margin-right: 8px;
	background-position-x: 24px;
}
.footerAdress{
	padding: 0 30px;
	border-right: solid 1px;
	height: 32px;
	font-family: GothaProLig;
	font-size: 17px;
}
.footerAdress_one{
	padding: 0px 23px 0 31px;
	max-width: 259px;
}
.footerAdress_two{
	max-width: 189px;
	padding: 0px 25px 0 26px;
}
.no-webp .icon{
	background-image:url(../images/sprite_icon.png);
}
.webp .icon{
	background-image:url(../images/sprite_icon.png);
}
.social{
	display: flex;
}
.social__link{
	display: block;
	width: 26px;
	height: 26px;
	background-position-y: 88px;
	margin-right: 9px;
}
.social__link_noMargin{
	margin-right: 0;
}
.social__link_vk{
	background-position-x: 168px;
}
.social__link_you{
	background-position-x: 133px;
}
.social__link_inst{
	background-position-x: 98px;
}
.social__link_odn{
	background-position-x: 63px;
}
.copyrightContainer{
	display: flex;

}
.copyright{
	font-family: GothaProLig;
	font-size: 10px;
	max-width: 680px;
	padding: 39px 17px 0px 28px;
}
.goldenCode{
	padding-top: 55px;
}
@media screen and (max-width: 1170px){
	.footerAdress_one{
		padding: 0px 15px 0 15px;
	}
	.footerAdress_two{
		padding: 0px 15px 0 15px;
	}
	.footerContact {
		padding: 0 15px;
	}
	.copyright{
		padding: 39px 17px 0px 16px;
	}
	.social__link{
		margin-right: 5px;
	}
}
@media screen and (max-width: 1095px){
	.footerAdress {
		height: 47px;
	}
}
@media screen and (max-width: 1095px){
		.footerAdress{
			font-size: 15px;
		}
	}
@media screen and (max-width: 988px){
	.footerContainer {
			justify-content: center;
			padding-top: 15px;

		}
		.footerContent {
			width: 222px;
		}
		.footerAdress_one{
			max-width: 125px;
		}
		.footerAdress_two{
			max-width: 145px;
		}
		.footerContact {
			padding: 5px 10px;
		}
		.copyright {
			padding: 5px 17px 0px 17px;
		}
		.goldenCode {
			padding-top: 5px;
		}
		.footerPlace {
			flex-direction: column;
		}
		.footerAdress{
			padding: 5px 15px;
			border-right: none;
			border-bottom: solid 1px;
			max-width: 150px;
		}
		.social {
			padding: 5px 10px;
		}
		.copyrightContainer {
			flex-direction: column;
		}
	}
		@media screen and (max-width: 440px){ 
			.footerContainer {
				flex-direction: column;
				align-items: center;
			}
			.footerContent {
				align-items: center;
			}
			.footerPlace {
				align-items: center;
			}
		}
/*форма обратной связи*/
.displayNone{
	display:none;
}
	.fancybox-content {
	    border-radius: 10px;
	}
	.form{
	display: flex;
    flex-direction: column;
	}
	.form__Area	{
    height: 57px;
    margin: 5px 0;
    border: 1px solid #808080;
    border-radius: 10px;
        padding-left: 10px;
	}		